body{
	background: #2b1c55;
	font-family: sans-serif;
}
 
.container{
    width: 335px;
    margin: 100px auto;
    background: rgb(5, 4, 83);
    padding: 10px 20px 50px 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 0px #270ca0;
}
.input{
    width: 300px;
    margin: 5px;
    border: none;
    font-size: 16pt;
    border-radius: 5px;
    padding: 10px;
}
.opt{
    font-size: 16pt;
    width: 215px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.tombol{
    background: #271285;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 15pt;
	border-bottom:4px solid #4826c4;
}
.judul{
    text-align: center;
    color: rgb(8, 231, 231);
    font-weight: normal;
}
